* {
  padding: 0px !important;
  margin: 0px !important;
}

body {
  font-family: 'Roboto+Mono', sans-serif;
}

.header {
  text-align: center;
}

.current-balance {
  text-align: center;
  padding-top: 10px !important;
}
