* {
  padding: 0px !important;
  margin: 0px !important;
}

body {
  font-family: 'Roboto+Mono', sans-serif;
}

.header {
  text-align: center;
}

.current-balance {
  text-align: center;
  padding-top: 10px !important;
}

.account-summary {
  background-color: #fafafa;
  width: 30%;
  padding: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px auto !important;
  border: solid 1px grey;
}

.income {
  padding: 10px !important;
  border-right: 1px solid gray;
}

.income-expense {
  margin-top: 10px !important;
}

.expense {
  padding: 10px !important;
}
